<h1 class="h1">
    单词页面-&#45;&#45;word page
    <small>
        <button ng-click="jump('/wordAdd')" class="btn btn-info">添加词汇</button>
        <button ng-click="jump('/wordEx')" class="btn btn-success">单词练习</button>
    </small>
</h1>

<h1 class="h1">
    购物页面-&#45;&#45;shopping page
    <small>
        <button ng-click="jump('/responsive')" class="btn btn-info">响应式模板</button>
    </small>
</h1>

<h1 class="h1">
    地理定位-&#45;&#45;location page
    <small>
        <button ng-click="jump('/map')" class="btn btn-info">地图</button>
    </small>
</h1>

<h1 class="h1">
    游戏娱乐-&#45;&#45;game page
    <small>
        <button ng-click="jump('/game')" class="btn btn-info">俄罗斯方块</button>
        <button ng-click="jump('/mGame')" class="btn btn-sweet">打地鼠</button>
        <button type="button" class="btn btn-mystery">暂未定</button>
    </small>
</h1>

<h1 class="h1">
    图片管理-&#45;&#45;images page
    <small>
        <button type="button" class="btn btn-info">手机相册</button>
        <button type="button" class="btn btn-mystery">暂未定</button>
    </small>
</h1>

<h1 class="h1">
    网页零件-&#45;&#45;images page
    <small>
        <button ng-click="jump('/sel')" type="button" class="btn btn-info">表单元素</button>
        <button type="button" class="btn btn-mystery">暂未定</button>
    </small>
</h1>

<!-- 你可以添加个多“.slideshow-image”项目, 记得修改CSS -->
<div class="slideshow">
    <div class="slideshow-image" style="background-image: url('img/st1.jpg')"></div>
    <div class="slideshow-image" style="background-image: url('img/st2.jpg')"></div>
    <div class="slideshow-image" style="background-image: url('img/st3.jpg')"></div>
    <div class="slideshow-image" style="background-image: url('img/st4.jpg')"></div>
</div>

