#bodyDiv{
    background-color:#171820;
}
#listMain{
    position: fixed;top: 6%;left: 0;
    width: 34.5%;
    height:800px;
}

a:hover, a:focus {text-decoration: none !important;}

#titleMain{
    position: fixed;
    top:0;left: 0;
    width: 100%;
    height: 75px;
    background: url("../img/title2.png") no-repeat 100% 100%;
    color: #A1A1A1;
    font-size: 32px;
    text-align: center;
    font-weight: bold;
    line-height: 75px;
}

#listMain{
    min-height:900px;
    width:90%;
    background: url("../img/bg1.png") no-repeat 100% 100%;
    margin:14px auto 0;
    background-size: cover;
}
#bgMain{
  margin-top:4%;
}

.Stock{
    width:100%;
    margin-bottom:20px;
    text-align:center;
}
.lineStock{
    width: 17%;
    display: inline-block;
    margin:0 1.24% 35px;
    cursor:pointer;
    transition:all 0.3s linear;
    color:#ccc;
}
.lineStock:hover{
    color:#ccc;
}
.lineStock>div{
    color:#ababac;
    background-color:#3a3d4d;
}
.lineStock>div:hover{
    color:#fff;
    background-color:#4d5167;
}

.lineStock p{
    text-overflow:ellipsis;
    white-space:nowrap;
    overflow:hidden;
    width:100%;
}
.slideTxt{
    text-align:left;
    padding:5px 0 5px 10%;
    font-size:20px;
}
.slideTxt .colon{
    padding:0 5px 0 4px;
    font-weight:normal;
}
.bTxt{
    padding:18px 0;
    text-align:center;
    font-size:2rem;
    font-weight: bold;
    margin:0;
}
.runTxt{
    padding:15px 0;
    text-align:center;
    font-size:18px;
    margin:0;
    color:#fff;
}
.sucColor{
    background-color:#18c341;
}
.yelColor{
    background-color:#cc9900;
}
.greColor{
    background-color:#006666;
}
.bodyPte>span:first-child{
    display: inline-block;
    min-width: 100px;
    font-size:18px;
    color:#fff;
    text-align: right;
}
.bodyPte>span:nth-child(3){
    display:inline-block;
    min-width: 50px;
    color:#fff;
}
.bodyPte>p>span:first-child{
    display: inline-block;
    min-width: 85px;
    font-size: 18px;
    color: #fff;
    text-align: right;
}

/********list********/
#titleNav{
    margin-bottom: 20px;
    margin-top: 90px;
    height:100px;
    color:#fff;
    width:100%;
    text-align: center;
}
#titleNav>a{
   display:inline-block;
    width:13.4%;
    height:100px;
    margin:0 0.25%;
    background-color:#323441;
    /*border:1px solid #fff;*/
    font-size:18px;
    font-weight:bold;
    border-radius:15px;
    position:relative;
}
#titleNav>a>span>.logo{
    left: 10%;
    top: 20%;
    position: absolute;
}
#titleNav>a>span.word{
   left:40%;
    position: absolute;
    color: #fff;
    top: 35%;
    font-size: 2rem;
}
#TabContent{
    margin:25px 15px;
}
#titleNav>.active{
    background-color: #003366;
}
table{
    color:#fff;
    font-size:18px;
}
#listTable .table-striped>tbody>tr:nth-of-type(odd){
    background-color:#41434d;
}
#listTable .table-striped>tbody>tr:nth-of-type(even){
    background-color:#292B37;
}
#listTable .table>tbody>tr>td,#listTable .table>tbody>tr>th, #listTable .table>tfoot>tr>td,#listTable .table>tfoot>tr>th,#listTable .table>thead>tr>td,#listTable .table>thead>tr>th{
    padding:15px;
}
#listTable .table>thead>tr>th{
    font-size: 2.1rem;
    padding: 20px 0;
    text-align: center;
    border-right: 1px solid #084177;
    border-bottom: 1px solid #084177;
    background-color:#003366;
}
#listTable .table>thead>tr>th.lineWid{
   width:10%;
}

#listTable .table>tbody>tr>td{
    font-size: 2rem;
    padding: 10px 0;
    vertical-align: middle;
    text-align: center;
    border-top: 0;
}
.pageFoot{
   width:100%;
    margin:5px 0;
}
.pageFoot>.pagination{
    width:100%;
    text-align:center;
}
.pageFoot>.pagination>li{
    display:inline-block;
    background-color:#fff;
    margin-left:10px;
    border-radius:8px;
}

.pagination li a{
    color:#fff;
}
.pagination li.active{
    background-color:#006abf;
    border-radius:8px;
}
.pageFoot>.pagination>li>a/*, .pageFoot>.pagination>li>span*/{
    font-size: 15px;
    border-radius: 8px;
}
.pageFoot>.pagination>li:last-child>a /*.pagination>li:last-child>span*/{
    /*border-top-right-radius: 8px;*/
    /*border-bottom-right-radius: 8px;*/
    border-radius:8px;
}
.pageFoot>.pagination>li:first-child>a/*, .pagination>li:first-child>span*/ {
    margin-left: 0;
    border-radius:8px;
}
